@model testelinux.Models.Tarefa;

<div class="container">
    <h1 class="text-center">Cadastro</h1>
    <h2 class="feed" style="display: none;"></h2>
    <label>Titulo da tarefa</label>
    <input type="text" class="form-control nome-tarefa" name="NomeTarefa">
    <span asp-validation-for="NomeTarefa" class="text-danger valida-nome"></span><br>
    <input class="btn btn-dark inpt-cadastrar" type="submit" value="Cadastrar">

</div>